/* google fonts */
@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Merriweather", serif;
}

/* top navbar */
.top-navbar{
    display: flex;
    justify-content: space-between;
}

.top-navbar p{
    text-transform: uppercase;
    margin: 1rem 1rem;
}

.top-navbar-icons{
    margin: 1rem 1rem;
}

.top-navbar-icons a{
    text-decoration: none;
    color: black;
    margin-left: 15px;
}

.top-navbar-icons a:hover{
    color: black;
}

.top-navbar-icons a img{
    width: 20px;
    margin-bottom: 3px;
}

@media screen and (max-width: 400px) {
    .top-navbar p{
        font-size: 13px;
    }
    .top-navbar a img{
        width: 15px;
    }
    .top-navbar a{
        font-size: 13px;
    }
}

@media screen and (max-width: 320px) {
    .top-navbar p{
        font-size: 10px;
    }
    .top-navbar a img{
        width: 13px;
    }
    .top-navbar a{
        font-size: 10px;
    }
}

@media screen and (max-width: 467px) {
    .top-navbar p{
        font-size: 10px;
        margin-left: 0;
    }
    .top-navbar a img{
        width: 13px;
        margin-left: 0;
    }
    .top-navbar a{
        font-size: 10px;
        margin-top: 20px;
    }
}

/* navbar */

#navbar{
    background-color: #859111;

}

#navbar-logo{
    color: #ffff;
    font-weight: bold;
    margin-left: 15px;
   
}

#navbar-logo button i{
    background-color: white;
}

#navbar-logo span{
    color: #EF7F1B;
    font-size: 25px;
}

.navbar-nav{
    margin-left: 20px;
}

.nav-item{
    margin-left: 10px;
}

.nav-item .nav-link{
    color: #ffff;
    margin-left: 2px;
    text-shadow: 0px 0px 1px black;
    transition: 0.5s ease;
}

.nav-item .nav-link:hover{
    color: #EF7F1B;
}


.dropdown-menu li a{
    color: white;
    background-color: #859111;
    transition: 0.5s ease
}

.dropdown-menu li a:hover{
    color: #EF7F1B;
    background-color: #859111;
}

#search input{
    border-radius: 50px;
    border: none;

}

#search button{
    border-radius: 50px;
    border: 1px solid #EF7F1B;
    color: #ffff;
    background-color: #EF7F1B;
}

/* home section */
#home{
   width: 100%;
   height: 80vh;
   display: flex;
   align-items: center;

}

.content{
    padding: 5rem 2rem;
}

.content h1{
    color: #859111;
    font-weight: bold;
    font-size: 60px;
}

.content h1 span{
    color: #859111;
}

#span1{
    color: #EF7F1B;
}

.btn button{
    background-color: #859111;
    padding: 4px 20px;
    letter-spacing: 3px;
    color: #ffff;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

.btn button:hover{
    color: black;
    background-color: #EF7F1B;
}

.img-wrapper{
    justify-content: end;
    display: flex;
    margin-top: 50px;

}

@media (max-width: 767px) {
    #home{
        width: 100%;
        height: 100vh;
        margin-bottom: 35px;
        
    }

    
}

@media (max-width: 427px) {
    #home{
        margin-top: 10rem;
    
    }
    .img-wrapper{
        width: 50%;
        height: 50%;
        margin-left: 10rem;
    }
    .img-wrapper .img1 {
        display: block;
        margin: 0 auto;
        
    }

    
}

/* product section */
#product{
    margin-top: 1;
}

#product h1{
    color: #859111;
    text-shadow: 1px 1px 1px black;
    border-bottom: 2px solid #859111;

}

.star i{
    color: #EF7F1B;

}

/* other cards */
#other-cards .card{
    background-color: rgb(179, 176, 176);
}

#other-cards .card h3{
    margin-top: 30px;
    color: black;
    margin-left: 10px;
    letter-spacing: 3px;
    
}

#other-cards .card h5{
    margin-top: 15px;
    font-weight: 100;
    font-size: 18px;
    color: black;
    margin-left: 10px;
    letter-spacing: 3px;
    border-bottom: 2px solid black;
    width: 250px;
}

#other-cards .card p{
    margin-top: 10px;
    font-weight: 100;
    font-size: 15px;
    margin-left: 10px;
    letter-spacing: 3px;
}

#shopnow{
    width: 130px;
    height: 30px;
    margin-top: 10px;
    margin-left: 10px;
    letter-spacing: 3px;
    font-weight: bold;
    background-color: black;
    border: none;
    cursor: pointer;
    color: #ffff;
}

/* banner */
#banner{
    background-color: rgb(243, 237, 237);
    display: flex;
    margin-bottom: 2rem;

    
}

.banner-content{
    padding: 6rem 0rem;
   
}

.banner-content h1{
    color: #859111;
    font-weight: bold;
    font-size: 60px;
}

.content h1 span{
    color: #859111;
}

#span1{
    color: #EF7F1B;
}

.img-wrap{
    padding: 5rem 0rem;
    display: flex;
    justify-content: end;

}

.img-wrap img{
    width: 800px;
    
}

@media (max-width: 427px) {
    #banner{
        display: flex;
        justify-content: center;
    }
    .banner-content h1 span{
        font-size: 50px;
    }
    .banner-content h1 p{
        font-size: 18px;
    }    
    .img-wrap{
        margin-left: 10rem;
    }
    .img-wrap .img1 {
        width: 400px;
        
    }
}

/* product cards */
#product-cards{
    margin-top: 5rem;
}

/* home gadget */
#others{
    margin-top: 2rem;
}

#others .card{
    box-shadow: rgb(17, 12,46,0.15) 0px 40px 100px 0px;
}

#others .card h3{
    margin-top: 10px;
    color: #ffff;
    font-weight: bold;
    text-shadow: 1px 1px 1px black;
    letter-spacing: 3px;
}

#others .card p{
    initial-letter: 3px;
    margin-top: 10px;
    color: #ffff;
    font-weight: bold;
    text-shadow: 0px 1px 1px black;
}

/* offer section */
#offer{
    margin-top: 90px;
}

#offer i{
    font-size: 32px;
    color: black;
}

/* newsletter */
#newsletter{
    margin-top: 90px;
}
#newsletter h3{
    font-size: 20px;
    letter-spacing: 2px;
}

.input{
    margin-top: 30px;
}
.input input{
    width: 350px;
    height: 36px;
    letter-spacing: 2px;
    border-radius: 3px;
    border: 1px solid black;
    padding-left: 5px;
}

#subcribe{
    width: 200px;
    height: 36px;
    margin-left: 10px;
    border-radius: 3px;
    border: none;
    background-color: #EF7F1B;
    letter-spacing: 3px;
    font-weight: bold;
    text-shadow: 0px 0px 1px black;

}

@media screen and (max-width: 250px) {
    .input input{
        width: 150px;
    }
    #subcribe{
        width: 150px;
    }
    
}

/* footer */
#footer{
    padding: 0 0 30px 0px;
    color: white;
    font-size: 14px;
    background-color: #859111;
    margin-top: 90px;
}

#footer .footer-top{
    padding: 60px 0 30px 0;
    background-color: #859111;
    columns: #ffff;

}
#footer .footer-top .footer-contact{
    margin-bottom: 30px;
}

#footer .footer-top .footer-contact h3{
    color: #EF7F1B;
}

#footer .footer-top .footer-contact h4{
    font-size: 22px;
    margin: 0 0 30px 0;
    padding: 2px 0 2px 0;
    line-height: 1;
    font-weight: 700;
}

#footer .footer-top .footer-contact p{
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 0;
    color: #ffff;
}

#footer .footer-top h4{
    font-size: 16px;
    font-weight: bold;
    position: relative;
    padding-bottom: 12px;
}

#footer .footer-top .footer-links{
    margin-bottom: 30px;
    margin-top: 10px;

}

#footer .footer-top .footer-links h4{
    color: #EF7F1B;
}

#footer .footer-top .footer-links ul{
    list-style: none;
    padding: 0;
    margin: 0;

}

#footer .footer-top .footer-links ul li{
    padding: 10px 0;
    display: flex;
    align-items: center;

}

#footer .footer-top .footer-links ul li a{
    text-decoration: none;
    color: #ffff;
    line-height: 1;
    display: inline-block;
    font-weight: bold;
    transition: 0.5s ease;
}

#footer .footer-top .footer-links ul li a:hover{
    background-color: #859111;
    color: #EF7F1B;
}

#footer .footer-top .social-links a{
    font-size: 18px;
    display: inline-block;
    text-decoration: none;
    background-color: #EF7F1B;
    color: #ffff;
    line-height: 1;
    padding: 8px 0;
    margin-right: 4px;
    border-radius: 50%;
    text-align: center;
    width: 36px;
    transition: 0.5s easex;
}

#footer .footer-top .social-links a:hover{
    background-color: #859111;
    color: white;
}

#footer .copyright{
    text-align: center;
    float: left;
}

#footer .credits{
    float: right;
    text-align: center;
    font-size: 13px;
}

#footer .credits a{
    color: #EF7F1B;
}

@media screen and (max-width: 844px){
    #footer .credits{
       margin-right: 7rem;
    }

    #footer .copyright{
       margin-left: 1rem;
    }
}

html{
    scroll-behavior: smooth;
}
.arrow{
    position: fixed;
    width: 50px;
    height: 50px;
    bottom: 50px;
    right: 50px;
    text-decoration: none;
    text-align: center;
    line-height: 50px;
    background-color: #EF7F1B;
    border-radius: 50%;
}

.arrow img{
    width: 100%;
}

/* login  */
#login{
    width: 65%;
    height: 70vh;
    background-color: #859111;
    margin-top: 40px;
    border-radius: 10px;
    box-shadow: rgb(17,12, 46, 0.15) 0px 48px 100px 0px;    
    margin-left: 250px;
}

#side1 h3{
    color: #EF7F1B;
    font-weight: bold;
    margin-top: 200px;
}

#side2{
    background-color: white;
    height: 70vh;
    border-radius: 10px;
}

#side2 h3{
    margin-top: 30px;
    color: #EF7F1B;
    font-weight: bold;
    text-shadow: 0px 1px 1px black;
}
.input2 input{
    margin-top: 15px;
    border: none;
    width: 300px;
    border-bottom: 2px solid #EF7F1B;
}

.input2 input ::placeholder{
    font-weight: bold;
}

#btn-login{
    padding-top: 10px;
}

#btn-login a{
        padding: 10px;
        text-decoration: none;
        border-radius: 15px;
        background-color: #EF7F1B;
        color: #ffff;
        font-weight: bold;
        border: none;
        text-shadow: 0px 1px 1px black;
}

#side2 p{
    margin-top: 10px;
}

@media screen and (max-width:844px) {
    #login{
        margin-left: 60px;
        width: 70%;
        margin-bottom: 10px;
        height: 80vh;
    }
    .input2 input{
        width: 200px;
    }
    .side2{
        height: 60vh;
    }
    
    
}


/* about  */
#about{
    margin-top: 30px;
}

#about h3{
    font-weight: bold;
    color: #EF7F1B;
    text-shadow: 0px 1px 1px black;
}

#about button{
    width: 150px;
    height: 36px;
    color: #ffff;
    background-color: #859111;
    border-radius: 5px;
    cursor: pointer;
    border: none;
}

/* contact */
#contact{
    margin-top: 50px;
}

#contact .card{
    height: 80px;
    margin-top: 20px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

#contact .card i{
    margin-top: 10px;
    margin-left: 10px;
    font-size: 15px;
    color: #859111;
    font-weight: bold;
    letter-spacing: 3px;
}
#contact .card h6{
    margin-left: 10px;
    margin-top: 10px;
    letter-spacing: 3px;
    font-weight: bold;
    color: #859111;
}

.message-btn button{
    margin-top: 30px;
    width: 200px;
    height: 33px;
    background-color: transparent;
    border: 2px solid #859111;
    font-weight: bold;
    letter-spacing: 3px;
    cursor: pointer;
}

.message-btn button:hover{
    background-color: #859111;
    color: white;
}